{% extends "layout.html" %}

{% block title %}Contact Page{% endblock %}

{% block body %}
      {% block header %} {% endblock %}

    {% block content %} 
    <!-- Contact Form -->
    <div class="contact-form">
        <h2>Contact Me!</h2>
        <form class="contact">
            <label for="name"> Name: </label><br />
            <input type="text" name="name" /><br />
            <label for="email"> Email: </label><br />
            <input type="text" name="email" /><br />
            <!-- Textarea -->
            <div>
                <label for="message"> Your Message:</label><br />
                <textarea class="message" name="message" rows="5"> </textarea>
            </div>
            <!-- <label for= "message" > Your Message </label ><br > -->
            <!-- <input type= "text" name= "message" ><br > -->
            <input type="submit" name="Contact" class="submit-btn"/>
        </form>
    </div>
    {% endblock %}

{% endblock %}